<div id="success-content" class="visually-hidden">
    <div id="top" style="background-image: url('{{ asset('/build/reglement/top_succes.png') }}');"></div>
    <div id="middle" style="background-image: url('{{ asset('/build/reglement/middle_succes.png') }}');"></div>
    <div id="bottom" style="background-image: url('{{ asset('/build/reglement/bottom_succes.png') }}');"></div>
</div>

