<div id="end-step" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/fin_etapes/etape_1.jpg') }}' );" >
    <div class="border-container">
        <div id="bonus-pts" style="background-image: url( '{{ asset('build/bonus_score/+_50_pts.png') }}' );"></div>
    </div>
</div>