<div id="first-code" class="bg-imgs text-light visually-hidden" style="background-image: url( '{{ asset('build/1er_code/background.jpg') }}' );" >
    <div class="border-container">
        <div id="first-code-validation" style="background-image: url( '{{ asset('build/1er_code/bouton_valider.png') }}' );"></div>
    </div>
</div>