<div id="give-up" class="bg-img visually-hidden" style="background-image: url( '{{ asset('build/abandonner_partie/background.jpg') }}' );">
	<div class='border-container'>
		<div id="message" style="background-image: url( '{{ asset('build/abandonner_partie/message.png') }}' );"></div>
		<div id="comfirm-give-up" style="background-image: url( '{{ asset('build/abandonner_partie/abandonner.png') }}' );"></div>
		<div id="return-game-board" style="background-image: url( '{{ asset('build/abandonner_partie/retour_au_jeu.png') }}' );"></div>
	</div>
</div>
