<div id="hint-error-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/messages_erreur/background.jpg') }}' );">
	<div class="hint-error-container">
		<div id="hint-error-img" style="background-image: url( '{{ asset('build/messages_erreur/erreur_indice.png') }}' );"></div>
        <div id="hint-error-back" style="background-image: url( '{{ asset('build/messages_erreur/retour.png') }}' );"></div>
	</div>
</div>