<!-- DISPLAY THE REQUESTED HINT OR THE SOLUTION -->
<div id="show-hint" class="bg-img visually-hidden" style="background-image: url( '{{ asset('build/indices/background.jpg') }}' );">
    <div class='border-container'>
        <div id="hint-display"></div>
        <div id="back-gb" style="background-image: url( '{{ asset('build/indices/retour.png') }}' );"></div>
    </div>
</div>