<div id="step-error-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/messages_erreur/background.jpg') }}' );">
	<div class="step-error-container">
		<div id="step-error-img" style="background-image: url( '{{ asset('build/messages_erreur/erreur_etape.png') }}' );"></div>
        <div id="step-error-back" style="background-image: url( '{{ asset('build/messages_erreur/retour.png') }}' );"></div>
	</div>
</div>