<div id="succes" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/succes/succes_1.jpeg') }}' );" >
    <div class="border-container">
        <div id="bonus-succes-pts" style="background-image: url( '{{ asset('build/bonus_score/+_100_pts.png') }}' );"></div>
    </div>
</div>