@font-face {
    font-family: "sacredBridge";
    src: url("./fonts/sacred_bridge/sacred_bridge.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "victorianDecade";
    src: url("./fonts/victorian_decade/victorian_decade.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

* {
margin: 0;
padding: 0;
}

body {
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
background-image: url('/assets/images/menu_principal/background.jpg');
}

.content {
flex-grow: 1;
}

.card-custom {
background-image: url('/assets/images/ready/background.jpg');
}

.success-img {
    width: 2rem;
    height: 2rem;
}

.unachieved {
    opacity: .33;
}

.global-stat, .spec-stat {
    background-image: url('/assets/images/ready/background.jpg');
    padding: 2rem;
    margin: 2rem 0;
    div {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: x-large;
    }
}
