<div id="res-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/background.jpg') }}' );">
	<div class="res-container">
		<div id="res-img" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_1/question.png') }}' );"></div>
        <div id="res-suite" style="background-image: url( '{{ asset('build/questionnaire_fin/reponses/suite.png') }}' );"></div>
	</div>
</div>